li(ng-class="getClass('/todo')")
  a(ng-href='#/todo') index 
li(ng-class="getClass('/profile')")
  a(ng-href='#/profile') Profile 
li(ng-class="getClass('/setting')")
  a(ng-href='#/setting') Setting 
